body{
    /*background-color: #A9A9A9;*/
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
  }

/*GRADIENT ANIMATION BACKGROUND*/
body{
  background: linear-gradient(270deg, #e24e42, #e24e42, #c492b1, #bce7fd, #12eaea, #b0db43, #b0db43, #12eaea, #bce7fd, #c492b1, #e24e42, #e24e42);
  background-size: 2400% 2400%;
  -webkit-animation: backgroundGradient 40s ease infinite;
  animation: backgroundGradient 40s ease infinite;
  }

  @-webkit-keyframes backgroundGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  
  @keyframes backgroundGradient { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  
  .container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
  
  ul{
    margin:0;
    padding:0;
  }

  /* HEADER */
  header{
    background: #E24E42;
    color:#ffffff;
    border-bottom:#ffffff 4px solid;
    padding-top:30px;
    min-height:70px;
  }
  
  header a{
    color:#ffffff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
  }

  header img{
      float: left;
      margin-right:10px; 
  }
  
  header li{
    display:inline;
    padding: 0 20px 0 20px;
  }
  
  header #headerTitle{
    float:left;
  }
  
  header #headerTitle h1{
    margin:0;
    font-size: 190%;
  }
  
  header nav{
    float:right;
    margin-top:10px;
  }
  
  header a:hover{
    color:#000000;
  }

  /*PAGE CONTAINER*/
  .pageContainer{
    text-align: center;
    height: 100vh;
  }

  /*GAME PAGE*/
  .gamePage{
    background-color: #ffffff;
    display: inline-block;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20vh;
    width: 50%;
    min-width: 200px;
  }

  /*WINNER PAGE*/
  .winnerPage{
    background-color: #ffffff;
    display: inline-block;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20vh;
    width: 50%;
    min-width: 200px;
  }

  .winnerPage li{
    list-style-type: none;
  }

  /*INFO PAGE*/
  .infoPage{
    background-color: #ffffff;
    display: inline-block;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20vh;
    width: 50%;
    min-width: 200px;
  }
  
  .infoPage li{
    list-style-type: none;
  }

  /*THE GAME BUTTON*/

.gameButton{
  color: #ffffff;
  background-color: #E24E42;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0 10px #A9A9A9;
}

.gameButton:hover{
  background-color: #cc4439;
}

.gameButton:active{
  background-color: #cc4439;
  transform: translateY(5px);
  box-shadow: 0 5px #7c7c7c;
}
  
