body{
    background-color: #A9A9A9;
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
  }
  
  .container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
  
  ul{
    margin:0;
    padding:0;
  }

  /* Header */
  header{
    background: #E24E42;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
  }
  
  header a{
    color:#ffffff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
  }

  header img{
      float: left;
      margin-right:10px; 
  }
  
  header li{
    display:inline;
    padding: 0 20px 0 20px;
  }
  
  header #headerTitle{
    float:left;
  }
  
  header #headerTitle h1{
    margin:0;
    font-size: 190%;
  }
  
  header nav{
    float:right;
    margin-top:10px;
  }
  
  header a:hover{
    color:#000000;
  }
  